<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Top News</title>
  </head>
  <body>
    <h2>Choose a country</h2>
    <form id="choose-country" action="" method="post">
      <label for="country">Country</label>
      <input type="text" id="country" name="country" list="country-list">
      <button type="submit">Choose</button>
      <datalist id="country-list">
	<option value="br">Brazil</option>
	<option value="fr">France</option>
	<option value="se">Sweden</option>
	<option value="no">Norway</option>
	<option value="pt">Portugal</option>
    </form>
  </body>
</html>
