<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Top News</title>
  </head>
  <body>
    <h2>Choose a country</h2>
    <form id="choose-country" method="post">
      <label for="country">Country</label>
      <input type="text" id="country" name="country" list="country-list">
      <button type="submit">Choose</button>
      <datalist id="country-list">
	{% for country in countries.keys() %}
	<option value="{{ country }}"></option>
	{% endfor %}
    </form>
  </body>
</html>
