<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="{{ url_for('static', path='/main.css') }}" rel="stylesheet">
    <title>Top News</title>
  </head>
  <body>
    <h1>Top News</h1>
    <div>
      {% for entry in news %}
      <div class="news-item" style="background-image: url({{ entry.img }});">
	<a href="{{ entry.url }}">
	  <div class="news-title">
	    <p>{{ entry.title }}</p>
	  </div>
	</a>
      </div>
      {% endfor %}
    </div>
    <a href="/">
      <button type="button">Start</button>
    </a>
  </body>
</html>
